# Title

Data Science Tools and Ecosystem

## Introduction 

In this notebook, Data Science tools and Ecosystem are summarized.

# Data Science Languages
R,
Julia,
Python, 
C++,
Scala,
Java Script

# Data Science Libraries
Matplotlib,
Numpy,
Scipy,
TensorFlow,
Keras,
Panda,
Gensim,
Plotly,
PyTorch,
Seaborn

# Table
| Data Science Tools|
|------------------|
| Python|
| R|
| Tableau|
| Power BI|
| Excel|
| TensorFlow|

### Arithmetic Expression Examples

In [1]:
(3*4)+5

17

In [2]:
# Convert minutes to hours
200/60

3.3333333333333335

Objectives:
* Data Science Tools
* Data Science Libraries
* Arthmetic Expression Examples

## Author
Shireen